$font-header: 2rem;
$font-header-link: 1.4rem;
$font-header-icon: 1.6rem;
$font-header-mobile: 0.8rem;
$font-project: 1.4rem;
$font-project-mobile: 1.1rem;
$font-project-stack: 1.3rem;
$font-about: 1.9rem;
