@use '../styles/mixins/viewports' as *;

.container {
  display: flex;
  gap: 40px;
  width: 90%;
  margin: 0 auto;
  position: relative;

  @include mobileL {
    flex-direction: column;
    gap: 20px;
  }
}

.blur {
  position: absolute;
  right: 25%;
  top: -50%;
  width: 200px;
  height: 350px;
  background: rgba(147, 86, 30, 0.55);
  filter: blur(80px);
  transform: rotate(30deg);

  @include mobileL {
    top: 10%;
  }
}
