@use '../../styles/variables' as *;

.about {
  width: 60%;
  background-color: $bg-about;
  padding: 20px;
  border-radius: 20px;
  z-index: 10000;
}

.header {
  font-size: $font-header;
  font-weight: 400;
  margin-bottom: 60px;
}

.text {
  font-weight: 300;
  font-size: $font-about;
}
